/* src/components/Login.css */
input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

button {
    padding: 10px 20px;
}

div {
    max-width: 300px;
    margin: 50px auto;
}
